&
  padding: 0 30px
  height: 80px
  line-height: 80px
  .menus-top
    padding-left: 48px
    .item
      float: left
      margin-right: 48px
      .txt
        color: #333
        font-size: 22px
  .user-name    
    margin-right: 40px
    .icon
      width: 20px
      height: 22px
      background: url(../../assets/user.png) no-repeat
    // .txt
