  
$cr1: #fff
  
@function bd1($color) 
  @return 1px solid $color

@mixin after($zindex)
  &
    position: relative
    &::after
      content: ''
      display: inline-block
      position: absolute
      z-index: $zindex

@mixin before($zindex)
  &
    position: relative
    &::before
      content: ''
      display: inline-block
      position: absolute
      z-index: $zindex

        

@mixin btn($width, $height, $radius, $fs, $color)
  &
    width: $width
    height: $height
    background: #fff
    border: bd1($color)
    border-radius: $radius
    font-size: $fs
    color: $color
    cursor: pointer
    &:hover
      background: $color
      color: #fff

@mixin btnback($width, $height, $radius, $fs, $bgcolor)
  &
    width: $width
    height: $height
    background: $bgcolor
    color: #fff
    border-radius: $radius
    font-size: $fs
    cursor: pointer

@mixin time-box($width, $inputHeight, $color)
  &
    width: $width
    position: relative
    display: flex
    justify-content: space-between
    input
      width: 100%
      height: $inputHeight
      border: 1px solid #e5e5e5
      border-radius: 5px
      padding: 0 10px
      font-size: 14px
      color: #999
      &:focus
        border: bd1($color)
    .icon-to 
      line-height: $inputHeight
      padding: 0 4px

// 下拉框
@mixin selectBox($width, $height, $color_bd, $color_selected, $color_hover)
  &
    width: $width
    position: relative
    height: $height
    display: inline-block
    vertical-align: middle
    cursor: pointer
    .select-text
      position: absolute
      z-index: 10
      background: #fff
      top: 0
      left: 0
      width: 100%
      padding: 0 20px 0 10px
      height: 100%
      line-height: $height
      border: bd1(rgb(229, 229, 229))
      border-radius: 5px
    .select-ul
      display: none
      position: absolute
      z-index: 100
      top: 50%
      left: 50%
      width: 100%
      transform: translateY(-50%)
      border: bd1($color_bd)
      border-radius: 5px
      background: $cr1
      max-height: 506px
      overflow-y: auto
      li
        height: $height
        line-height: $height
        padding-left: 10px
        transition: all 0.3s
        &:hover
          background: $color_hover
          color: $cr1                      
        &.current
          background: $color_selected
          color: $cr1
    .iconz
      position: absolute
      z-index: 20
      right: 3px
      top: 50%
      margin-top: -10px
    &.focus
      .select-text
        border: bd1($color_selected)
        color: $color_selected
      .iconz
        color: $color_selected

@mixin selectBoxBtm($width, $height, $color_bd, $color_selected, $color_hover)
  &
    width: $width
    position: relative
    height: $height
    display: inline-block
    vertical-align: middle
    cursor: pointer
    .select-text
      position: absolute
      z-index: 10
      background: #fff
      top: 0
      left: 0
      width: 100%
      padding: 0 20px 0 10px
      height: 100%
      line-height: $height
      border: bd1(rgb(229, 229, 229))
      border-radius: 10px
    .select-ul
      display: none
      position: absolute
      z-index: 100
      bottom: 50%
      left: 0
      width: 100%
      border: bd1($color_bd)
      border-radius: 10px
      background: $cr1
      max-height: 506px
      overflow-y: auto
      li
        height: $height
        line-height: $height
        padding-left: 10px
        transition: all 0.3s
        &:hover
          background: $color_hover
          color: $cr1                      
        &.current
          background: $color_selected
          color: $cr1
    .iconz
      position: absolute
      z-index: 20
      right: 3px
      top: 50%
      margin-top: -10px
    &.focus
      .select-text
        border: bd1($color_selected)
        color: $color_selected
      .iconz
        color: $color_selected