@import './_mixin'

article
  display: flex
  @import './_menus-top'
  .main
    flex: 1
    margin-top: 62px
    background: #f3f3f8
    .content
      height: 100%
      background: #fff
      margin: 17px 30px 40px
      overflow-y: auto
      .search
        display: flex
        .data-type
          margin-right: 10px
          .title
            line-height: 30px
          .select-box
            @include selectBoxBtm(136px, 30px, #acafb0, #29718c, #6bb7cc)
        .time  
          display: flex
          justify-content: flex-end
          .cap
            line-height: 34px
          .time-box
            @include time-box(228px, 34px, #00bfb4)
            margin-right: 18px 
        .btn-box
          .btn
            @include btnback(66px, 34px, 4px, 16px, #00bfb4)
            &:hover
              background: #09a299 
      .chapter
        padding: 22px 34px
        .title
          margin-bottom: 22px
          color: #36bbb5
          &::before
            content: ''
            display: inline-block
            margin-right: 14px
            vertical-align: -3px
            height: 20px
            border-left: 6px solid #36bbb5
        .data
          display: flex
          .typelist
            flex: 0 0 412px
            margin-right: 40px
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            padding: 52px 0 0 0
            @include after(10)
            &::after
              bottom: 0
              transform: translateY(100%)
              left: 0
              width: 100%
              border-bottom: 9px solid rgb(54, 187, 181)
              border-radius: 0 0 7px 7px
            .type
              flex: 0 0 160px
              width: 160px
              height: 99px
              margin-bottom: 60px
              border: bd1(#e8e5e9)
              border-radius: 10px
              padding-top: 22px
              text-align: center
              .cap
                color: #333
                font-size: 16px
                margin-bottom: 18px
              &.iconz
                @include after(10)
                &::after
                  top: 0
                  left: 4px
                  width: 40px
                  height: 40px
                  transform: translateY(-50%)
                  border-radius: 50%
                &::before
                  position: absolute
                  top: 0
                  font-size: 20px
                  transform: translateY(-50%)
                  color: #fff
                  left: 14px
                  z-index: 20
              &:nth-child(1)
                &::after
                  background: #fe9395
              &:nth-child(2)
                &::after
                  background: #36bbb5
              &:nth-child(3)
                &::after
                  background: #fbbb6e
              &:nth-child(4)
                &::after
                  background: #ec92e0  
          .details
            flex: 1
            @include after(10)
            &::after
              bottom: 0
              transform: translateY(100%)
              left: 0
              width: 100%
              border-bottom: 9px solid rgb(54, 187, 181)
              border-radius: 0 0 7px 7px
            .chart
              width: 100%
              height: 360px
      .visitor-percentage
        .chart
          width: 100%
          height: 340px
      

